# Assignment: Data Wrangling
### `! git clone https://github.com/ds4e/wrangling`
### Do Q1 and Q2, and either Q3 or Q4, for a total of 3 questions.

**Q1.** This question provides some practice cleaning variables which have common problems.
1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)
2. Categorical variable: For the Minnesota police use of for data, `./data/mn_police_use_of_force.csv`, clean the `subject_injury` variable, handling the NA's; this gives a value `Yes` when a person was injured by police, and `No` when no injury occurred. What proportion of the values are missing? Is this a concern? Cross-tabulate your cleaned `subject_injury` variable with the `force_type` variable. Are there any patterns regarding when the data are missing? 
3. Dummy variable: For the pretrial data covered in the lecture, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, and, in particular, replace missing values with `np.nan`.
4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)

## Q1

### Q1.1

In [25]:
import pandas as pd
file = "./data/airbnb_hw.csv"
df = pd.read_csv(file)
print(df)

        Host Id Host Since                                Name Neighbourhood   \
0       5162530        NaN     1 Bedroom in Prime Williamsburg       Brooklyn
1      33134899        NaN     Sunny, Private room in Bushwick       Brooklyn
2      39608626        NaN                Sunny Room in Harlem      Manhattan
3           500  6/26/2008  Gorgeous 1 BR with Private Balcony      Manhattan
4           500  6/26/2008            Trendy Times Square Loft      Manhattan
...         ...        ...                                 ...            ...
30473  43022976  8/31/2015   10 Mins to Time Square/two floors         Queens
30474  42993382  8/31/2015       1BR ocean view & F,Q train st       Brooklyn
30475  43033067  8/31/2015                Amazing Private Room       Brooklyn
30476  43000991  8/31/2015   Charming private female room: UWS      Manhattan
30477  42999189  8/31/2015    Huge Beautiful Bedroom - Astoria         Queens

      Property Type  Review Scores Rating (bin)        Room Type  Zipcode  \
0         Apartment                         NaN  Entire home/apt  11249.0
1         Apartment                         NaN     Private room  11206.0
2         Apartment                         NaN     Private room  10032.0
3         Apartment                         NaN  Entire home/apt  10024.0
4         Apartment                        95.0     Private room  10036.0
...             ...                         ...              ...      ...
30473     Apartment                         NaN  Entire home/apt  11101.0
30474     Apartment                         NaN     Private room  11224.0
30475         Other                         NaN     Private room  11206.0
30476     Apartment                         NaN     Private room  10025.0
30477         House                         NaN     Private room  11105.0

       Beds  Number of Records  Number Of Reviews Price  Review Scores Rating
0       1.0                  1                  0   145                   NaN
1       1.0                  1                  1    37                   NaN
2       1.0                  1                  1    28                   NaN
3       3.0                  1                  0   199                   NaN
4       3.0                  1                 39   549                  96.0
...     ...                ...                ...   ...                   ...
30473   5.0                  1                  0   300                   NaN
30474   2.0                  1                  0   125                   NaN
30475   1.0                  1                  0    80                   NaN
30476   1.0                  1                  0    35                   NaN
30477   1.0                  1                  0    80                   NaN

[30478 rows x 13 columns]

In [7]:
print(df['Price'])

      Price
0       145
1        37
2        28
3       199
4       549
...     ...
30473   300
30474   125
30475    80
30476    35
30477    80

[30478 rows x 1 columns]

In [8]:
df.isnull().sum()
# price has all of its values, so I don't have to drop any vals

Host Id                          0
Host Since                       3
Name                             0
Neighbourhood                    0
Property Type                    3
Review Scores Rating (bin)    8323
Room Type                        0
Zipcode                        134
Beds                            85
Number of Records                0
Number Of Reviews                0
Price                            0
Review Scores Rating          8323
dtype: int64

In [9]:
df.describe()
# price doesn't show up, which means it is not considered numerical

,Host Id,Review Scores Rating (bin),Zipcode,Beds,Number of Records,Number Of Reviews,Review Scores Rating
count,3.047800e+04,22155.000000,30344.000000,30393.000000,30478.0,30478.000000,22155.000000
mean,1.273171e+07,90.738659,10584.854831,1.530089,1.0,12.018735,91.993230
std,1.190270e+07,9.059519,921.299397,1.015359,0.0,21.980703,8.850373
min,5.000000e+02,20.000000,1003.000000,0.000000,1.0,0.000000,20.000000
25%,2.701298e+06,85.000000,10017.000000,1.000000,1.0,0.000000,89.000000
50%,8.551693e+06,90.000000,10065.000000,1.000000,1.0,3.000000,94.000000
75%,2.120617e+07,100.000000,11216.000000,2.000000,1.0,13.000000,100.000000
max,4.303307e+07,100.000000,99135.000000,16.000000,1.0,257.000000,100.000000

In [18]:
commas_price = df[df['Price'].str.contains(',')]
print(commas_price)
# see if prices have commas

        Host Id Host Since                                 Name  \
101        8730  2/27/2009                Comfort & Convenience
263       34915  8/30/2009  Luxurious 2-Floor Manhattan Mansion
764      112879  4/23/2010  Modern Luxury Meets Old Money Charm
1272     214148  8/26/2010     LARGE, COMFY 1BDR W/CHARACTER!!!
1275     213266  8/26/2010   Beautiful 1 Bedroom in Nolita/Soho
...         ...        ...                                  ...
28951  37155810  6/30/2015         Central Park Luxury : 115916
28952  37155810  6/30/2015    Central Park South Place : 112756
28953  37155810  6/30/2015    Central Park South Views : 112754
28985  37241813   7/1/2015    VERY Spacious 3BR in East Village
30281  42160989  8/21/2015         Luxury Duplex for Pope Visit

      Neighbourhood  Property Type  Review Scores Rating (bin)  \
101        Manhattan   Condominium                       100.0
263        Manhattan     Apartment                         NaN
764         Brooklyn     Apartment                         NaN
1272        Brooklyn     Apartment                        90.0
1275       Manhattan     Apartment                        75.0
...              ...           ...                         ...
28951      Manhattan     Apartment                         NaN
28952      Manhattan     Apartment                         NaN
28953      Manhattan     Apartment                         NaN
28985      Manhattan     Apartment                         NaN
30281       Brooklyn     Apartment                         NaN

             Room Type  Zipcode  Beds  Number of Records  Number Of Reviews  \
101    Entire home/apt  10003.0   6.0                  1                  4
263    Entire home/apt  10075.0   2.0                  1                  0
764    Entire home/apt  11206.0   5.0                  1                  0
1272   Entire home/apt  11216.0   1.0                  1                 30
1275   Entire home/apt  10012.0   2.0                  1                  2
...                ...      ...   ...                ...                ...
28951  Entire home/apt  10019.0   2.0                  1                  0
28952  Entire home/apt  10019.0   1.0                  1                  0
28953  Entire home/apt  10019.0   1.0                  1                  0
28985  Entire home/apt  10009.0   3.0                  1                  0
30281  Entire home/apt  11211.0   4.0                  1                  0

       Price  Review Scores Rating
101    1,990                 100.0
263    1,000                   NaN
764    1,200                   NaN
1272   1,000                  92.0
1275   5,000                  76.0
...      ...                   ...
28951  3,390                   NaN
28952  1,356                   NaN
28953  2,599                   NaN
28985  2,000                   NaN
30281  2,000                   NaN

[181 rows x 13 columns]

In [20]:
commas_price['Price'] = commas_price['Price'].str.replace(',', '').astype(float)
# isolate them into its own df so I can experiment without corrupting the original df

/tmp/ipykernel_1081722/1623114500.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  commas_price['Price'] = commas_price['Price'].str.replace(',', '').astype(float)

In [22]:
print(commas_price['Price'])
# now that I know it works, I will convert the original df

101      1990.0
263      1000.0
764      1200.0
1272     1000.0
1275     5000.0
          ...
28951    3390.0
28952    1356.0
28953    2599.0
28985    2000.0
30281    2000.0
Name: Price, Length: 181, dtype: float64

In [23]:
commas_price.describe()

,Host Id,Review Scores Rating (bin),Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
count,1.810000e+02,51.000000,181.000000,179.000000,181.0,181.000000,181.000000,51.000000
mean,1.062796e+07,94.019608,10259.834254,3.346369,1.0,2.740331,1876.408840,94.823529
std,9.306978e+06,9.900485,474.078504,2.909231,0.0,7.493255,1288.395138,9.764642
min,8.730000e+03,40.000000,10001.000000,1.000000,1.0,0.000000,1000.000000,40.000000
25%,2.813178e+06,90.000000,10011.000000,2.000000,1.0,0.000000,1000.000000,93.500000
50%,1.058152e+07,95.000000,10019.000000,3.000000,1.0,0.000000,1500.000000,98.000000
75%,1.166865e+07,100.000000,10065.000000,4.000000,1.0,1.000000,2000.000000,100.000000
max,4.216099e+07,100.000000,11418.000000,16.000000,1.0,48.000000,10000.000000,100.000000

In [24]:
df['Price'] = df['Price'].str.replace(',', '').astype(float)
df.describe()
# price shows up now which means price is now a numerical value

,Host Id,Review Scores Rating (bin),Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
count,3.047800e+04,22155.000000,30344.000000,30393.000000,30478.0,30478.000000,30478.000000,22155.000000
mean,1.273171e+07,90.738659,10584.854831,1.530089,1.0,12.018735,163.589737,91.993230
std,1.190270e+07,9.059519,921.299397,1.015359,0.0,21.980703,197.785454,8.850373
min,5.000000e+02,20.000000,1003.000000,0.000000,1.0,0.000000,10.000000,20.000000
25%,2.701298e+06,85.000000,10017.000000,1.000000,1.0,0.000000,80.000000,89.000000
50%,8.551693e+06,90.000000,10065.000000,1.000000,1.0,3.000000,125.000000,94.000000
75%,2.120617e+07,100.000000,11216.000000,2.000000,1.0,13.000000,195.000000,100.000000
max,4.303307e+07,100.000000,99135.000000,16.000000,1.0,257.000000,10000.000000,100.000000

In [26]:
df.isnull().sum()
# still no missing vals for price, which means it was all successfully converted

Host Id                          0
Host Since                       3
Name                             0
Neighbourhood                    0
Property Type                    3
Review Scores Rating (bin)    8323
Room Type                        0
Zipcode                        134
Beds                            85
Number of Records                0
Number Of Reviews                0
Price                            0
Review Scores Rating          8323
dtype: int64

### Q1.2

In [ ]:
file = "./data/airbnb_hw.csv"
df = pd.read_csv(file)
print(df)

## Q2

**Q2.** Go to https://sharkattackfile.net/ and download their dataset on shark attacks.

1. Open the shark attack file using Pandas. It is probably not a csv file, so `read_csv` won't work.
2. Drop any columns that do not contain data.
3. Clean the year variable. Describe the range of values you see. Filter the rows to focus on attacks since 1940. Are attacks increasing, decreasing, or remaining constant over time?
4. Clean the Age variable and make a histogram of the ages of the victims.
5. What proportion of victims are male?
6. Clean the `Type` variable so it only takes three values: Provoked and Unprovoked and Unknown. What proportion of attacks are unprovoked?
7. Clean the `Fatal Y/N` variable so it only takes three values: Y, N, and Unknown.
8. Are sharks more likely to launch unprovoked attacks on men or women? Is the attack more or less likely to be fatal when the attack is provoked or unprovoked? Is it more or less likely to be fatal when the victim is male or female? How do you feel about sharks?
9. What proportion of attacks appear to be by white sharks? (Hint: `str.split()` makes a vector of text values into a list of lists, split by spaces.)

## Q3

**Q3.** Open the "tidy_data.pdf" document in the repo, which is a paper called Tidy Data by Hadley Wickham.

  1. Read the abstract. What is this paper about?
  2. Read the introduction. What is the "tidy data standard" intended to accomplish?
  3. Read the intro to section 2. What does this sentence mean: "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." What does this sentence mean: "For a given dataset, it’s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general."
  4. Read Section 2.2. How does Wickham define values, variables, and observations?
  5. How is "Tidy Data" defined in section 2.3?
  6. Read the intro to Section 3 and Section 3.1. What are the 5 most common problems with messy datasets? Why are the data in Table 4 messy? What is "melting" a dataset?
  7. Why, specifically, is table 11 messy but table 12 tidy and "molten"?
  8. Read Section 6. What is the "chicken-and-egg" problem with focusing on tidy data? What does Wickham hope happens in the future with further work on the subject of data wrangling?

## Q4

**Q4.** Many important datasets contain a race variable, typically limited to a handful of values often including Black, White, Asian, Latino, and Indigenous. This question looks at data gathering efforts on this variable by the U.S. Federal government.

1. How did the most recent US Census gather data on race?
2. Why do we gather these data? What role do these kinds of data play in politics and society? Why does data quality matter?
3. Please provide a constructive criticism of how the Census was conducted: What was done well? What do you think was missing? How should future large scale surveys be adjusted to best reflect the diversity of the population? Could some of the Census' good practices be adopted more widely to gather richer and more useful data?
4. How did the Census gather data on sex and gender? Please provide a similar constructive criticism of their practices.
5. When it comes to cleaning data, what concerns do you have about protected characteristics like sex, gender, sexual identity, or race? What challenges can you imagine arising when there are missing values? What good or bad practices might people adopt, and why?
6. Suppose someone invented an algorithm to impute values for protected characteristics like race, gender, sex, or sexuality. What kinds of concerns would you have?